{% extends 'base.html' %}

{% block content %}

<h1 style="color:white">Kontakt</h1>
<br>
<br>
<h3 style="color:white"><p>Adres e-mail: <strong>przychodniainzynierka@gmail.com</strong> </p></h3>
<h3 style="color:white"><p>Telefon kontaktowy:<strong> +48-733-038-424</strong></p></h3><p>
<h3 style="color:white"><p>Jak do nas trafić?</p></h3>

<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.8521033001016!2d17.121290215914108!3d51.111188847415306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe7e27e7e976d%3A0xb57c4f04d9380683!2sJamesa%20Cooka%2016%2C%2051-503%20Wroc%C5%82aw!5e0!3m2!1sen!2spl!4v1606326303040!5m2!1sen!2spl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
{% endblock content %}
