{% extends 'base.html' %}

{% block content %}

<h2 style="color:white">O NAS</h2>
<br>
<p>Celem naszej przychodni jest zapewnienie każdemu pacjentowi kompleksową oraz profesjonalną opiekę medyczną. <br>
    Oferujemy dostęp do wykształconych specjalistów w swojej dziedzinie.
    Cały czas pracujemy nad rozwojem, aby każdego dnia nasze usługi były jeszcze lepsze.<br>
    W naszej placówce mogą Państwo umówić się zarówno na wizytę stacjonarną jak i na teleporadę. </p>

<p>Zatrudniamy specjalistów w dziedzinie:</p>

<div style="text-align: center;">
    <ul style="display: inline-block;">
        <li>Alergologii</li>
        <li>Laryngologii</li>
        <li>Dermatologii</li>
        <li>Ginekologii</li>
        <li>Pediatrii</li>
    </ul>
</div>
{% endblock content %}
