{% extends 'base.html' %}

{% block content %}

<h1>Wizyta</h1>
<form method="post">
    {% csrf_token %}
    {{ form.media }}

    {{ form.patient.as_hidden }}
    {{ form.doctor.as_hidden }}

    <p>{{ form.add_inf }}</p>
    <p>{{ form.add_inf.label }}</p>

    {{ form.visit_date_time }}

    <script>
    $(function () {
    $("#id_visit_date_time").datetimepicker({
      format: 'Y-m-d H:i',
      inline: true,
      step: 30
        });
     });
    </script>

    <p>{{ form.type }}</p>
    <p>{{ form.type.label }}</p>
    <input type="submit" value="Umów wizytę">
</form>
{% endblock content %}