{% extends 'base.html' %}

{% block content %}

<h1>Wizyta</h1>



<form method="post">
    {% csrf_token %}
    {{ form.media }}

    {{ form.id_pacjent.as_hidden }}
    {{ form.id_lekarz.as_hidden }}

    <p>{{ form.dodatkowe_inf }}</p>
    <p>{{ form.dodatkowe_inf.label }}</p>

    <p>{{ form.data_wizyty }}</p>
    <p>{{ form.data_wizyty.label }}</p>

    <p>{{ form.godzina_wizyty }}</p>
    <p>{{ form.godzina_wizyty.label }}</p>

    <p>{{ form.rodzaj_wizyty }}</p>
    <p>{{ form.rodzaj_wizyty.label }}</p>
    <input type="submit" value="Umów wizytę">
</form>

{% for field in form %}
    {% for error in field.errors %}

        {{ error|escape }}
    {% endfor %}
{% endfor %}

{% endblock content %}